.nav>ul>li>a {
    text-decoration: none;
    color: black;
}

.nav>ul>li {
    list-style-type: none;
}

.nav>ul {
    display: flex;
    gap: 30px;
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 10px;
}

#navIcon {
    display: none;
}

/* default: 991px or less
    navIcon display
    navbar hidden
*/

/* @media (min-width: 992px) and (max-width:1024px) { */

/* 992px or more
    navIcon hidden
    navBar display
*/
/* @media (min-width: 992px){
    .nav {
        display: block;
    }

    #navIcon {
        display: none;
    }
} */

/* @media (max-width: 991px) and (orientation: landscape ){ */
/* @media (max-width: 991px) and (orientation: portrait ){ */

@media (max-width: 991px){
    #navIcon {
        display: block;
    }

    .nav {
        display: none;
    }
}