.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.red {
    /* background-color: red; */
}

.green {
    position: absolute;
    /* z-index: -1; */
    left: 50px;
    top: 50px;
}

.blue {
    /* z-index: 999; */
}

.red {
    position: absolute;
    left: 100px;
}

.smallbox {
    width: 25px;
    height: 25px;
    border: 1px solid black;
}

/* positioning relative to its normal position */
.smallbox {
    position: relative; 
    left: 50px;
    top: 50px;
}

/* positioning from the root element or nearest positioned ancestor */
/* .smallbox {
    position: absolute; 
    left: 50px;
    top: 50px;
} */